<!-- <nav class="navbar navbar-fixed-top navbar-light bg-light" style="background-color:red;"> 
    <div class="container">
        <a class="navbar-brand" routerLink="">RPI Events Feed</a>
        <ul class="navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="events">Events</a></li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">RPI Events</a>

    <!-- <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="events">Events</a>
            </li>

            <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign In</a></li>
            <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{auth.getUserDetails()?.name}}</a></li>
            <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
        </ul>
    </div>

</nav>