h3 {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	text-align: center;
}

h5 {
	padding-left: 20px;
	padding-right: 20px; 
	margin-bottom: 20px;
	margin-top: 10px;
}

p {
	padding-left: 40px;
	padding-right: 40px; 
}

.profile {
	margin: auto;
	width: 60%;
	border: 2px solid red;
  	border-radius: 5px;
}