<div class="jumbotron">
  <h1 class="title" [innerHtml]=event.summary></h1>
  <h2 class="description" [innerHtml]=event.description></h2>
  <h3 class="date" [innerHtml]=event.formattedDate></h3>
</div>

<div>
  <button *ngIf="auth.isLoggedIn()" class="btn btn-success" type="button" (click)="openCommentModal()">Add Comment</button>
  <button *ngIf="!auth.isLoggedIn()" class="btn btn-success" type="button" routerLink="/login">Sign In to make a comment</button>
</div>

<ul>
  <li *ngFor="let comment of comments.reverse()"><p class="comment c-author">{{comment.author}}</p>
     <p class="comment c-text">"{{comment.text}}"</p>
     <p class="comment c-posted">Comment made {{comment.posted.split('T')[0]}} {{comment.posted.split('T')[1].split('.')[0]}} GMT</p>
  </li>
</ul>