/*CSS for the comments*/

ul{
	list-style: none;
}
li{
	margin-bottom: 4px;
}

.btn{
	margin-left: 39px;
	margin-bottom: 5px;
}


.comment-box{
	width: 95%;
	min-height: 60px;
	margin-right: 2.5%;
	margin-left: 2.5%;
}


.comment{
	margin: 0;
}

.c-author{
	font-weight: bold;
}
.c-text{

}
.c-posted{
	font-style: italic;
	color: darkgrey;
}


.title {
	text-align: center;
}
.description {
	font-size: 24px;
	font-weight: normal;
}
.date {
	text-align: right;
	color: darkred;
}
.location {
	text-align: right;
}